.product-label-group-price{
  position: absolute;
  top: 5rem;
}
.product-label-group-small{
  position: absolute;
  top: 0rem;
  left: 0rem;
  max-width: 5rem;
}
.product-label-group-small-price{
  position: absolute;
  top: 2rem;
  left: 0rem;
  max-width: 5rem;
}
.product-label-small{
  font-size: 0.9rem;
  font-weight: 500;
}

.rating-stars a.active-tab-review:before, .rating-stars a:hover:before {
    content: "\e94b\e94b\e94b\e94b\e94b";
    color: #d26e4b;
}
.filter-items-khala a {
    position: relative;
    display: block;
    padding: 1rem 0 1rem 28px;
  }
.filter-items-khala li span {
    position: absolute;
    right: 2px;
    color: #ccc;
    font-family: "Open Sans",sans-serif;
  }
.filter-items-khala>li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.active-filters{
  color: #26b;
}  
